<footer>
    <div class="container">
        <div class="footer-links">
            <a href="https://virasty.com/r/p6Q" class="footer-link">ویراستی</a>
            <a href="https://rubika.ir/mahdiabbasi13811381" class="footer-link">روبیکا</a>
            <a href="https://ble.ir/mahdiabbasi13811381" class="footer-link">بله</a>
            <a href="https://mahdiabbasi13811381.github.io/negarkhaneh/contact/" class="footer-link">تماس</a>
        </div>
        <p>© 1404 | محمدمهدی عباسی | هیچ یک از حقوق محفوظ نیست! 🙄</p>
        <p>قدرت گرفته از خودمان، ساخته شده با ❤️ در ایران</p>
    </div>
</footer>
